<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <connectionStrings>
    <add name="OracleConnectionString"
      connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=oclab01.etzone.net)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=EHSTEST)));User Id=umallman;Password=umallman!!!666;"
      providerName="Oracle.ManagedDataAccess.Client"/>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-HerbMagicWebApi-20181115095805.mdf;Initial Catalog=aspnet-HerbMagicWebApi-20181115095805;Integrated Security=True" providerName="System.Data.SqlClient" />-->

    <add name="FormalConnection"
      connectionString="Data Source=dalab01.etzone.net,1437;Initial Catalog=FRI_FORMAL;Persist Security Info=True;User ID=Formal_User;Password=1qaz2wsx!@;connection reset=false;connection lifetime=50;min pool size=1;max pool size=50"
      providerName="System.Data.SqlClient"/>
    <add name="TempConnection"
      connectionString="Data Source=dalab01.etzone.net,1437;Initial Catalog=FRI_MLEC;Persist Security Info=True;User ID=Formal_User;Password=1qaz2wsx!@;connection reset=false;connection lifetime=50;min pool size=1;max pool size=50"
      providerName="System.Data.SqlClient"/>


  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>